body {
  overflow-x: hidden;
}

html {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--shared-text);
  background-color: var(--shared-bg);
  padding-top: var(--header-height);
}

.btn {
  @apply
    inline-flex px-3 py-2
    rounded-full bg-primary
    text-white text-sm font-medium;
  &:hover {
    @apply
      bg-primary-dark;
  }
  &-outline {
    @apply
      bg-white
      border border-primary-medium
      text-primary-dark
  }
}
