body {
  overflow-x: hidden;
}

html {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--shared-text);
  background-color: var(--shared-bg);
  padding-top: var(--header-height);
}
