html {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--shared-text);
  background-color: var(--shared-bg);
  padding-top: var(--header-height);
}

@layer utilities {
  .toolbar-shadow {
    box-shadow: 0px -2px 4px rgba(0, 138, 138, 0.05), 0px -4px 6px rgba(0, 138, 138, 0.05);
  }
}

@layer components {
  .d-input {
    @apply
      flex w-full py-2 px-3
      bg-white
      border border-gray rounded-md
      outline-none;
    &-sm {
      @apply py-1.5 px-2.5 text-sm;
    }
  }

  .btn {
    @apply
      inline-block text-center px-3 py-2
      rounded-full bg-primary
      text-white text-sm font-medium
      transition-colors duration-100
      focus:outline-none;
    &:hover {
      @apply bg-primary-dark;
    }
    &-outline {
      @apply
        bg-white
        border border-primary-medium
        text-primary-dark
    }
    &-light {
      @apply bg-white text-primary;
    }
    &-outline:hover {
      @apply bg-primary-lightest;
    }
    &-light:hover {
      @apply bg-primary-lightest;
    }
    &-large {
      @apply px-3 py-2 text-base;
    }
    &:disabled {
      @apply bg-gray-light text-white cursor-not-allowed;
    }
  }

  .tag {
    @apply
      py-1 px-2
      rounded-full border border-transparent
      bg-primary-lightest
      text-sm text-primary-dark
      transition-colors duration-100;
    /* &:hover {
      @apply bg-primary-light;
    } */
    &-outline {
      @apply bg-white border-primary-medium;
    }
    /* &-outline:hover {
      @apply bg-primary-lightest border-primary-dark;
    } */
  }
}
